*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25x;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 10px 10px;
}
.col-2 h1{
    padding-left: 80px;
    font-size: 15x;
    line-height: 30px;
    margin: 25px 0;
}
.col-2 p{
    padding-left: 160px;
    font-size: 15px;
    }

    .btn{

        display: inline-block;
        background: palevioletred;
        color: #fff;
        padding:8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        align-items: center;
        transition: background 0.5s;
        margin-left: 150px;
    }
    .btn:hover{
        background: #563434;
    }
    .header{
        background: radial-gradient(#fff,#ffd6d6);
    }
.header .row{
    margin-top: 70px;
}

.categories{
    marfin: 70px 0;

}

.col-3{
    flex-basis: 70%;
    min-width: 30px;
    margin-bottom: 30px;
}
.coli-3 img {
    width: 50px;
    height: 50px;

}

.small-container{
    max-width: 100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}















